.DetailCard{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background: black ;
    color: black;    
    /* border-radius: 15px; */
    justify-self: center;
}

.imgDetailContainer{
        margin-top: 20px;
        height: 17rem;
        width: 17rem;
}

.imgDetailContainer img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.descriptionContainer{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    border: 1px white solid;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.productPrice{
    color:orange ;
    font-weight: bolder;
    font-size: x-large;
}

.buttonCart1{
    font-size: 18px;
    font-weight: bolder;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, yellow 0%, orange 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    line-height: 2.6em;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}

.buttonCart1:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
}

.buttonCart1:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
}
.warranty{
    background-color: grey;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    color: whitesmoke ;
    padding: 5px;
    font-size: 10px;
}

/*-----------------------------------breakpoint 768px--------------------------------------*/

@media (min-width: 768px) {
    .descriptionContainer{
        height: 25rem;
        justify-content: space-evenly;
    } 

    .imgDetailContainer{
        height: 20rem;
        width: 40vw;
    }
}

/*-----------------------------------breakpoint 1024px--------------------------------------*/

@media (min-width: 1024px) {

    .DetailCard{
        height: 58vw;
    }

    .card{
        flex-flow: row nowrap;
    }

   .descriptionContainer{
        width: 20rem;
        justify-content: space-evenly;
    } 

    .imgDetailContainer{
        height: 25rem;
        width: auto;
    }
}

/*-----------------------------------breakpoint 1440px--------------------------------------*/

@media (min-width: 1440px) {
    .DetailCard{
        height: 48rem;
    }

   .descriptionContainer{
        width: 40rem;
    } 

    .imgContainer{
        width: 40rem;
    }
}
