.ItemListContainer{
  background: linear-gradient(180deg, #486155, #2b3827);
  width: 100%;
  min-height: calc(100vh - 8em)
}

.Container{
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}
.loader{
  margin-top: 5rem;
}

@media (min-width: 1600px) { 
  .ItemListContainer{
    height: 36vw;
  }
}
