.imgCart{
    display: flex;
    justify-content: center;
}

.cartPhoto{
    width: 14em;
    height: 13em;
    object-fit:cover;
    border: 1px solid black;
    border-radius: 6px;
    align-self: center;
}

@media (max-width: 650px) {
    tr{
        display: flex;
        flex-flow: column nowrap;
    }
}