footer{
    background-color: #333;
    color: grey;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

li{
    font-size: 12px;
}

.childFooter{
    width: 200px;
    margin: 40px;
}

h5{
    font-weight: bolder;
}